In [1]:
import pandas as pd

In [5]:
import chardet

# Read a sample of the file to detect encoding
with open('energydata_complete.csv', 'rb') as file:
    result = chardet.detect(file.read(10000))  # Read the first 10000 bytes

encoding = result['encoding']
print(f"Detected encoding: {encoding}")

Detected encoding: ascii

In [14]:
df  = pd.read_csv('energydata_complete.csv') #encoding='UTF-16')
df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [16]:
# drop not needed columns
data = df.drop(columns=['date'])
data

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [18]:
data.head()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [20]:
# check for categorical features
cols = data.columns
numcols = data._get_numeric_data().columns
a = list(set(cols) - set(numcols))
a

[]

In [95]:
# check if there are null values
data.isnull().sum().sum()

np.int64(0)

In [96]:
# detect outliers percentage in data, generally is greater than 5 % then needs treatment

# outliers = []
# for i in range(data.shape[1]):
#     min_t = data[data.columns[i]].mean() - (3 * data[data.columns[i]].std())
#     max_t = data[data.columns[i]].mean() + (3 * data[data.columns[i]].std())

#     count = 0
#     for j in data[data.columns[i]]:
#         if j < min_t or j > max_t:
#             count += 1
#     percentage = count / data.shape[0]
#     outliers[data.columns[i]] = "%.3f" % percentage

# outliers

outliers = {}
for column in data.columns:
    min_t = data[column].mean() - (3 * data[column].std())
    max_t = data[column].mean() + (3 * data[column].std())
    
    count = ((data[column] < min_t) | (data[column] > max_t)).sum()
    percentage = count / data.shape[0]
    outliers[column] = f"{percentage:.3f}"

print(outliers)

{'Appliances': '0.027', 'lights': '0.033', 'T1': '0.001', 'RH_1': '0.006', 'T2': '0.010', 'RH_2': '0.007', 'T3': '0.003', 'RH_3': '0.001', 'T4': '0.000', 'RH_4': '0.000', 'T5': '0.001', 'RH_5': '0.029', 'T6': '0.005', 'RH_6': '0.000', 'T7': '0.000', 'RH_7': '0.001', 'T8': '0.000', 'RH_8': '0.000', 'T9': '0.000', 'RH_9': '0.000', 'T_out': '0.005', 'Press_mm_hg': '0.005', 'RH_out': '0.008', 'Windspeed': '0.005', 'Visibility': '0.002', 'Tdewpoint': '0.000', 'rv1': '0.000', 'rv2': '0.000'}

In [97]:
# data rescaling, improves model accuracy, accelarate training process, normalize or standardize
# norm - values btw 0 and 1 , stand - all values mean 0 and stdev 1
x = data.iloc[:, 1:]
y = data.iloc[:, 0]

x = (x - x.min()) / (x.max() - x.min()) # normalization
x.head()

,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.428571,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.428571,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.428571,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.571429,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.571429,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [98]:
# data splitting , train val test, larger dataset with million records or more 98:1:1,  smaller 60:20:20
# split by indexing or scikit learn


x.shape

(19735, 27)

In [99]:
train_end = int(len(x) * 0.6)
val_end = int(len(x) * 0.8)

In [100]:
x_shuffle = x.sample(frac=1, random_state=0)
y_shuffle = y.sample(frac=1, random_state=0)

In [121]:
x_train = x_shuffle.iloc[:train_end,:]
y_train = y_shuffle.iloc[:train_end]
x_val = x_shuffle.iloc[train_end:val_end, :]
y_val = y_shuffle.iloc[train_end:val_end]
x_test = x_shuffle.iloc[val_end:, :]
y_test = y_shuffle.iloc[val_end:]

In [122]:
x_train.shape, x_val.shape, x_test.shape

((11841, 27), (3947, 27), (3947, 27))

In [123]:
y_train.shape, y_val.shape, y_test.shape

((11841,), (3947,), (3947,))

In [124]:
from sklearn.model_selection import train_test_split

In [125]:
x_new, x_test_2, y_new, y_test_2 = train_test_split(x_shuffle, y_shuffle, test_size=0.2, random_state=0)

In [126]:
val_per = x_test_2.shape[0]/x_new.shape[0]

In [127]:
x_train_2, x_dev_2, \
y_train_2, y_dev_2 = train_test_split(x_new, y_new, \
test_size=val_per, \
random_state=0)

In [133]:
print(x_train_2.shape, y_train_2.shape)
print(x_dev_2.shape, y_dev_2.shape)
print(x_test_2.shape, y_test_2.shape)
# print(x_val.isna().sum())
# print(y_val.isna().sum())
# print(x_test.isna().sum())
# print(y_test.isna().sum())

(11841, 27) (11841,)
(3947, 27) (3947,)
(3947, 27) (3947,)

In [134]:
import torch
import torch.nn as nn

In [135]:
print("Number of GPU: ", torch.cuda.device_count())
print("GPU Name: ", torch.cuda.get_device_name())


device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
print('Using device:', device)

Number of GPU:  1
GPU Name:  NVIDIA GeForce RTX 4050 Laptop GPU
Using device: cuda

In [136]:
print(type(x_val))
print(type(y_val))
print(type(x_test))
print(type(y_test))

<class 'torch.Tensor'>
<class 'torch.Tensor'>
<class 'torch.Tensor'>
<class 'torch.Tensor'>

In [137]:
x_train = torch.tensor(x_train_2.values).float().cuda()
y_train = torch.tensor(y_train_2.values).float().cuda()

x_val = torch.tensor(x_dev_2.values).float().cuda()
y_val = torch.tensor(y_dev_2.values).float().cuda()

x_test = torch.tensor(x_test_2.values).float().cuda()
y_test = torch.tensor(y_test_2.values).float().cuda()

In [140]:
print(type(x_val))
print(type(y_val))
print(type(x_test))
print(type(y_test))

<class 'torch.Tensor'>
<class 'torch.Tensor'>
<class 'torch.Tensor'>
<class 'torch.Tensor'>

In [141]:
model = nn.Sequential(nn.Linear(x_train.shape[1], 100), nn.ReLU(), nn.Linear(100,50), nn.ReLU(), nn.Linear(50, 25), nn.ReLU(), nn.Linear(25,1)).cuda()

In [142]:
model

Sequential(
  (0): Linear(in_features=27, out_features=100, bias=True)
  (1): ReLU()
  (2): Linear(in_features=100, out_features=50, bias=True)
  (3): ReLU()
  (4): Linear(in_features=50, out_features=25, bias=True)
  (5): ReLU()
  (6): Linear(in_features=25, out_features=1, bias=True)
)

In [143]:
loss_function = torch.nn.MSELoss()

In [144]:
optimizer = torch.optim.Adam(model.parameters(), lr=0.001)

In [150]:
for i in range(10000):
    y_pred = model(x_train).squeeze()
    loss = loss_function(y_pred, y_train)
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

    if i%100 == 0:
        print(i, loss.item())

0 8768.6728515625
100 8591.31640625
200 8428.068359375
300 8290.947265625
400 8183.09521484375
500 8089.31787109375
600 8001.67236328125
700 7918.60546875
800 7841.51708984375
900 7766.125
1000 7689.5595703125
1100 7616.94580078125
1200 7548.8701171875
1300 7478.9638671875
1400 7408.9140625
1500 7334.974609375
1600 7247.57958984375
1700 7168.70361328125
1800 7082.3017578125
1900 6998.85205078125
2000 6925.2705078125
2100 6853.05615234375
2200 6785.9462890625
2300 6722.5625
2400 6665.3583984375
2500 6601.47802734375
2600 6543.39990234375
2700 6486.9775390625
2800 6429.091796875
2900 6373.1865234375
3000 6316.771484375
3100 6265.10693359375
3200 6204.33740234375
3300 6152.32958984375
3400 6098.423828125
3500 6036.6005859375
3600 5971.8857421875
3700 5920.990234375
3800 5854.69873046875
3900 5789.552734375
4000 5735.97900390625
4100 5680.14990234375
4200 5630.55029296875
4300 5586.82373046875
4400 5537.2275390625
4500 5494.9443359375
4600 5442.25244140625
4700 5403.1650390625
4800 5353.15625
4900 5309.0830078125
5000 5257.73095703125
5100 5208.13037109375
5200 5162.40625
5300 5123.033203125
5400 5078.2216796875
5500 5047.89794921875
5600 5000.22412109375
5700 4965.77587890625
5800 4924.56884765625
5900 4885.96337890625
6000 4849.197265625
6100 4818.748046875
6200 4791.724609375
6300 4762.228515625
6400 4726.8193359375
6500 4695.2783203125
6600 4671.33544921875
6700 4638.1123046875
6800 4621.51806640625
6900 4586.298828125
7000 4555.330078125
7100 4541.0087890625
7200 4513.6826171875
7300 4495.435546875
7400 4466.1669921875
7500 4440.736328125
7600 4411.35693359375
7700 4401.57275390625
7800 4377.9365234375
7900 4360.1572265625
8000 4338.32470703125
8100 4304.0712890625
8200 4285.40673828125
8300 4265.8681640625
8400 4238.04931640625
8500 4231.2890625
8600 4205.947265625
8700 4175.892578125
8800 4157.28125
8900 4143.345703125
9000 4127.265625
9100 4099.60302734375
9200 4087.8134765625
9300 4067.794921875
9400 4048.45849609375
9500 4035.423828125
9600 4009.57666015625
9700 4001.066650390625
9800 3975.40966796875
9900 3966.57373046875

In [151]:
pred = model(x_test[0])
print("ground truth:", y_test[0].item(), "Prediction:", pred.item())

ground truth: 120.0 Prediction: 113.52767944335938